
.text{
    color:white;
   align-items: center;
}
.hnav{
   height: 70px;
   background-color: #2424A3;
}
.home{
    height: 100vh;
    background-color: #040730;
}

.login{
    
    margin:auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.labe{
    
}
.rightto{
    text-align: right;
    right:0px;
   
    width: 100%;
}
.centertext{
    text-align: center;
}
.loginbtn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.downloadbtn{
    border-radius: 25px;
    background-color: rgb(175, 198, 205);
    width: 10.5rem;
    color: white;
    margin-bottom: 25px;
    margin-top: 25px;
   
    
}
.colorwhite{
    color:white;
}
.overflowhidden{
    overflow-y: visible;
    height: 100vh;
    
}
.ringdash{
    height: 90vh;
}

.overflowring{
    
    height: 100%;
    
    overflow:auto;
    
}
.logo{
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.downloadbtn:hover{
    background-color: aliceblue;
}
.tdbold{
    font-weight: bold;
}
.linkdecoration{
    text-decoration: none;
    color: white;
}
.linkdecoration:hover{
    text-decoration: none;
    color: white;
}
.mrgtop{
    margin-top: 5px;
}